.destination-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* destination title */

.destination-title {
  font-family: "BarlowCondensed";
  font-size: 28px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 4.75px;
}

.destination-title span {
  font-family: "BarlowCondensed";
  font-size: 28px;
  font-weight: bold;
  color: hsl(0, 0%, 100%, 0.5);
  letter-spacing: 4.75px;
  margin-right: 20px;
}

/* destination body */

.destination-body {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  align-self: center;
}

.destination-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination-image img {
  height: min(40vw, 445px);
  width: min(40vw, 445px);
}

.destination-details {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination-details > div {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* destination nav */

.destination-nav {
  display: flex;
  height: 30px;
}

.destination-nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.destination-nav ul li {
  list-style-type: none;
  transition: 0.5s;
  border-bottom: 3px solid hsla(0, 0%, 100%, 0);
}

.destination-nav ul li button {
  border: none;
  background: none;
  color: var(--White);
  font-family: "BarlowCondensed";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 2.7px;
  cursor: pointer;
}

.destination-nav ul li:hover {
  border-bottom: 3px solid hsl(0, 0%, 100%, 0.4);
}

.destination-nav ul li.nav-btn-active {
  border-bottom: 3px solid var(--White);
  transition: 0.5s;
}

/* destination section */

.destination-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.destination-section hr {
  border: 1px solid hsl(0, 0%, 100%, 0.3);
}

.destination-name {
  font-family: "Bellefair";
  font-size: min(8vw, 100px);
  font-weight: normal;
  color: var(--White);
  text-transform: uppercase;
}
.destination-description {
  font-family: "BarlowCondensed";
  font-weight: normal;
  color: var(--Grey);
  letter-spacing: 1.5px;
  line-height: 25px;
  margin-bottom: 20px;
}

.destination-extra-details {
  display: flex;
  flex-direction: row;
}

/* destination distance */

.destination-distance {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.destination-distance h2 {
  font-family: "BarlowCondensed";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--Grey);
  text-transform: uppercase;
}

.destination-distance h1 {
  font-family: "Bellefair";
  font-weight: normal;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--White);
}

/* destination travel time */

.destination-travel {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.destination-travel h2 {
  font-family: "BarlowCondensed";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--Grey);
  text-transform: uppercase;
}

.destination-travel h1 {
  font-family: "Bellefair";
  font-weight: normal;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--White);
}
