.technology-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 40px;
}

/* technology title */

.technology-title {
  font-family: "BarlowCondensed";
  font-size: 28px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 4.75px;
  width: 90%;
  align-self: flex-end;
}

.technology-title span {
  font-family: "BarlowCondensed";
  font-size: 28px;
  font-weight: bold;
  color: hsl(0, 0%, 100%, 0.5);
  letter-spacing: 4.75px;
  margin-right: 20px;
}

/* technology body */

.technology-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 74.8%;
  align-self: flex-end;
}

.technology-body > div {
  display: flex;
  flex-direction: row;
  gap: min(3vw, 70px);
  width: 50%;
  height: 100%;
  align-items: center;
}

/* technology nav */

.technology-nav ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.technology-nav ul li {
  list-style-type: none;
}

.technology-nav ul li button {
  height: 80px;
  width: 80px;
  color: var(--White);
  font-size: 30px;
  font-family: "Bellefair";
  border: 0.5px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0);
  cursor: pointer;
  transition: 0.5s;
}

.technology-nav ul li button:hover {
  background-color: hsl(0, 0%, 100%, 0.4);
}

.technology-nav ul li button.nav-btn-active {
  background-color: var(--White);
  color: black;
  transition: 0.5s;
}

/* technology section */
.technology-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.technology-section p:nth-child(1) {
  font-family: "BarlowCondensed";
  font-weight: normal;
  color: var(--Grey);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.technology-section h3 {
  font-family: "Bellefair";
  font-size: min(4vw, 56px);
  font-weight: normal;
  color: var(--White);
  text-transform: uppercase;
}

.technology-section p:nth-child(3) {
  font-family: "BarlowCondensed";
  font-weight: normal;
  width: 90%;
  color: var(--Grey);
  letter-spacing: 1.5px;
  line-height: 30px;
}

/* technology image */

.technology-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.technology-image img {
  width: min(45vw, 600px);
  object-fit: contain;
  object-position: right;
}

@media (max-width: 768px) {
  .technology-container {
    gap: unset;
    height: 92.8%;
    align-self: center;
  }

  .technology-title {
    font-size: 20px;
    align-self: center;
  }

  .technology-title span {
    font-size: 20px;
  }

  .technology-body {
    flex-direction: column-reverse;
    align-self: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }

  .technology-body div {
    width: 100%;
    height: 50%;
    flex-direction: column;
    gap: unset;
    align-self: baseline;
    justify-content: space-around;
  }

  .technology-nav ul {
    flex-direction: row;
  }

  .technology-nav ul li button {
    height: 50px;
    width: 50px;
    font-size: 20px;
  }

  .technology-section {
    align-items: center;
    width: 75%;
    height: 75%;
  }

  .technology-section h3 {
    font-size: 36px;
  }

  .technology-section p:nth-child(3) {
    text-align: center;
    line-height: min(5vw, 30px);
  }

  .technology-image {
    width: 100%;
    height: min(65vw, 50%);
  }

  .technology-image img {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

@media (max-width: 420px) {
  .technology-title {
    font-size: 16px;
    text-align: center;
    letter-spacing: 3.75px;
    margin-block: 10px;
  }

  .technology-title span {
    font-size: 16px;
  }

  .technology-body {
    margin-block: 20px;
  }

  .technology-body div {
    margin-block: 20px;
  }

  .technology-nav {
    margin-block: 20px;
    gap: 20px;
  }

  .technology-nav ul li button {
    height: 40px;
    width: 40px;
    font-size: 15px;
  }

  .technology-section {
    height: 270px;
    width: 90%;
  }

  .technology-section h3 {
    font-size: 25px;
  }

  .technology-section p:nth-child(3) {
    line-height: 25px;
    width: 100%;
  }
}
